* {
    box-sizing: border-box;
    margin: 10px
}

#container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 350px;
    border: 1px solid;
    border-radius: 8px;
    border-color: rgb(177, 134, 185);
}

.row {
    width: 350px;
    display: flex;
    flex-direction: row;
    padding: 0px;
    margin: 0px;
    height: 80px;
}

.end {
    background-color: rgb(208, 179, 215);
}

button {
    font-family: 'Orbitron', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    align-content: center;
    justify-content: center;
    background-color: rgb(177, 134, 185);
    color: whitesmoke;
    padding: 16px;
    margin: 0px;
    float: left;
    border: 1px solid;
    width: 87px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.click {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    font-size: x-large;
    padding: 0px;
    margin: 0px;
}

button:hover {
    background-color: #ba77d7;
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

button:active {
    background-color: #b251df;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#display {
    width: 260px;
    background-color: rgb(127, 124, 124);
    font-family: 'Orbitron', sans-serif;
    font-size: 30px;
    pointer-events: none;
    justify-content: end;
    display: flex;
    font-family: 'Orbitron', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    align-content: center;
    justify-content: center;
    color: whitesmoke;
    padding: 16px;
    margin: 0px;
    float: left;
    border: 1px solid;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}